* {
    box-sizing: border-box;
}

@font-face {
    font-family: TestarossaNF;
    src: url(/vendors/fonts/TestarossaNF.ttf);
}

nav.col-md-12 h2 {
    display: inline;
}

.row {
    margin-top: 20px;
}

button {
    margin-bottom: 20px;
    text-align: center;
}


/*
    HEADER
*/

.col-md-4 img.logo {
    width: 50%;
}

h1 {
    font-family: TestarossaNF;
    font-size: 5.0em;
}

i {
width: 20px;
}

hr {
    height: 2px;
    background-color: #ffce00;
}

/*
    BUTTON 
*/

.buttons {
    text-align: right;
}

.checkout,
.keep-shopping {
    width: 180.0px;
    height: 48px;
    margin-bottom: 50px;
    border-radius: 20px;
    outline: none;
    color: #fff;
    font-weight: bold;
}

.checkout {
    background: rgb(49, 186, 43);
}

.checkout:hover {
    background: #fff;
    color:  rgb(49, 186, 43);
}

.keep-shopping {
    background: #DA251E;
}

.keep-shopping:hover {
	 background: #fff;
    color:  #DA251E;
}

